.stage {
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    text-align: center
}

.slidecontainer {
    margin: 30px 0 30px 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    /* border-radius: 5px; */
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.btn {
    float: right;
    margin-top: 10px;
    background: #4CAF50;
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-width: 0px;
}

.btn:hover {
    opacity: 1;
}

.dashboard {
    margin-top: 10px; 
    width: 100%;
    height: 240px;
}

.container { 
    width: 70%;
    margin: auto;
}

.box {
    display: table-row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.left_box {  
    float: left;
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-width: 80%;
}

.right_box {
    float: right;
    background-color: #F5F5F5;
    border-color: #4CAF50;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-width: 80%;
}

.options { 
    display: table-row;
    width: 100%;
}

.option {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin: 5px;
}

.mark-bar {
    float:left; 
    width: 33.3%;
    text-align: center;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    color: white;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

img {
    height: 100px;
}