body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    padding-top: 4rem;
}

nav{
    background-color: white;
}
/*main{*/
/*display: -ms-flex; display: -webkit-flex; display: flex;*/
/*}*/

.avatar-img{
   /* border-radius: 50%; */
    width: 90%;
    margin: 50px 0 0 50px;
}

.page-content{
    position: relative;
    min-height: 100vh;

}
.page-background{

    /*background-image: url('../images/background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*!*min-height: calc(100vh - 150px);*!*/

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background: url('../images/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn {
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-width: 0px;
}

.btn:hover {
    opacity: 1;
}

.loader {
    width: 3em;
    height: 3em;
    animation: loaderAnim 1.25s infinite ease-in-out;
    outline: 1px solid transparent;
    margin-bottom: 25px;
}
.loader #largeBox {
    height: 3em;
    width: 3em;
    background-color: #ECECEC;
    outline: 1px solid transparent;
    position: fixed;
}
.loader #smallBox {
    height: 3em;
    width: 3em;
    background-color: #34495e;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(0.75);
    }
}
@keyframes loaderAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 20px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #77afa2; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #77afa2; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#rangeValue {margin-top: 10px; display: inline-block;}

.scaleNo{
    margin: 30px 0 3px 0;
}

.scaleWords{
    margin: 3px 0 3px 0;
}

.ratingVal {
    margin-top: 40px;
    display: block;
}

/* Stage0.html */
.studyChoice {
    display: block;
    text-align: center;
    font-size: 0;
}
.studyChoice span {
    display: inline-block;
    box-sizing: border-box;
    padding: .3em .8em;
    font-size: 18px;
    font-weight: 100;
    width: 8em;
    background: #909391;
    color: #eee;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
}
.studyChoice label:first-child span {
    border-left: solid 1px #fff;
    border-radius: 0.25em;
}
.studyChoice label:last-child span {
    border-radius: 0.25em;
}
.studyChoice input[type="radio"] {
    display: none;
}
.studyChoice input[type="radio"]:checked ~ span {
    background: #496b81;
    color: #fff;
}

.studyChoice span:hover {
    background: #abc6cc;
}

.studyChoiceLbl {
    margin: 0 20px 0 20px;
}


.conditionChoice {
    display: block;
    text-align: center;
    font-size: 0;
}
.conditionChoice span {
    display: inline-block;
    box-sizing: border-box;
    padding: .3em .8em;
    font-size: 18px;
    font-weight: 100;
    width: 8em;
    background: #54979a;
    color: #eee;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
}
.conditionChoice label:first-child span {
    border-left: solid 1px #fff;
    border-radius: 0.25em;
}
.conditionChoice label:last-child span {
    border-radius: 0.25em;
}
.conditionChoice input[type="radio"] {
    display: none;
}
.conditionChoice input[type="radio"]:checked ~ span {
    background: #496b81;
    color: #fff;
}

.conditionChoice span:hover {
    background: #abc6cc;
}

.conditionChoiceLbl {
    margin: 0 20px 0 20px;
}