body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    padding-top: 4rem;
}

nav{
    background-color: white;
}
/*main{*/
/*display: -ms-flex; display: -webkit-flex; display: flex;*/
/*}*/

.avatar-img{
   /* border-radius: 50%; */
    width: 90%;
    margin: 50px 0 0 50px;
}

.page-content{
    position: relative;
    min-height: 100vh;

}
.page-background{

    /*background-image: url('../images/background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*!*min-height: calc(100vh - 150px);*!*/

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background: url('../images/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn {
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-width: 0px;
}

.btn:hover {
    opacity: 1;
}