@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    width: 100%;
    height: 100vh !important;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.avatar-img{

    margin: 30px 0 0 30px !important;
}

.chat-background{
    width: 100%;
    background: white;
    /*height: auto;*/
    /*background-size: auto 100%;*/
}

.chat-section{
    padding: 3rem 2rem;
}

.chat-content{
    min-width: 300px;
    padding: 50px;
}

.robot-section{

    overflow: hidden;
    padding: 3rem 0 3rem 2rem;
    /*padding: 3rem 0rem;*/
}

.robot-content-bottom{

    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    /*position: absolute;*/
    /*bottom: 5%;*/
}

.robot-content-top{
    margin: 0 auto;
    height: 440px;
    position: relative;
    padding: 1rem 1rem;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

#chartContainer{
    /*height: 370px;*/
    height: 340px;
    margin: 0 auto;
}

.msg {
    display: inline-block;
    padding: 9px 14px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3px;
    background: #EEE;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: width .12s ease-out, height .12s ease-out;
    transition: width .12s ease-out, height .12s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.msg-left .msg {
    -webkit-border-radius: 0 20px 20px 20px;
    border-radius: 0 20px 20px 20px;
}

.msg-bounce-in-left {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: msgBounceIn .4s;
}

@media (max-width: 480px) {
    .msg {
        font-size: 15px;
    }
}

@-webkit-keyframes msgBounceIn {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    75% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes msgBounceIn {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    75% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.slide-container {
    text-align: center;
}

#percentageSign {
    margin-top: -12px;
    margin-left: 20px;
    top: 50%;
    position: absolute;
    left: 50%;
    z-index: 3;
}

.titleHr {
    border-top: 4px solid #496b81;
    width: 40px;

}

.legendDiv {
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    width: 100%;
}
.legend { list-style: none; margin: 30px 0 30px 0; padding: 0px;}
.legend ul { text-align: center;
}
.legend span { border: 1px solid #ccc; float: left; width: 16px; height: 12px; margin-right: 10px; }
/* your colors */
.legend .robo { margin-top: 5px; background-color: rgba(207, 217, 218, 0.7); }
.legend .savings { margin-top: 5px; background-color: #fff; }

/*for the round slider to center in parent div*/
.rs-control {
    margin: 35px auto 25px !important;
}


.mark-bar {
    float:left;
    width: 33.3%;
    text-align: center;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    color: white;
}
.mark-bar:before, .mark-bar:after{
    clear:both;
}
#demo-eval{
    text-align: center;
}

.mark-bar-region{
    margin-bottom: 3rem;
}

thead {
   background-color: rgba(207, 217, 218, 0.7);
}

h6 {
    font-weight: bold;
    float: right;

}

.user-description {
   margin: 20px 0 50px 0;
}

.cb__list {
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
    width: 320px;
    margin: 0 auto;
    overflow: hidden; }

.cb__list .bubble {
    display: inline-block;
    padding: 9px 14px;
    max-width: 65%;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    background: white;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.1);
    box-shadow: 5px 5px 15px 0 rgba(102, 102, 102, 0.1);
    -webkit-transition: width .12s ease-out, height .12s ease-out;
    transition: width .12s ease-out, height .12s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.cb__list .bubble.typing {
    animation: cb-font-fade 5s ease-in-out infinite; }



.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background: #303131;
    -webkit-animation-name: fadecolor;
    -webkit-animation-duration: 4s;
    animation-name: fadecolor;
    animation-duration: 4s;}


:nth-child(2) {
    animation-delay: -1.1s; }


:nth-child(3) {
    animation-delay: -0.9s;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadecolor {
    from {background-color: #477980;}
    to {background-color: #ffffff;}
}

/* Standard syntax */
@keyframes fadecolor {
    from {background-color: #477980;}
    to {background-color: #ffffff;}
}

@keyframes cb-font-fade {
    50% {
        color: transparent; }
    100% {
        color: inherit; } }
