@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    width: 100%;
    height: 100vh !important;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.avatar-img{

    margin: 30px 0 0 30px !important;
}

.chat-background{
    width: 100%;
    background: white;
    /*height: auto;*/
    /*background-size: auto 100%;*/
}

.chat-section{
    padding: 3rem 2rem;
}

.chat-content{
    min-width: 300px;
    padding: 50px;
}

.robot-section{

    overflow: hidden;
    pointer-events: none;
    padding: 3rem 0 3rem 2rem;
    /*padding: 3rem 0rem;*/
}

.robot-content-bottom{

    overflow-x: hidden;
    overflow-y: auto;
    /*position: absolute;*/
    /*bottom: 5%;*/
}

.robot-content-top{
    margin: 0 auto;
    position: relative;
    background: #00aabb;


    /*position: absolute;*/
    /*top: 10%;*/
}

.robot-content-top:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
}

#chartContainer{
    /*height: 370px;*/
    height: 340px;
    margin: 0 auto;
}

.slide-container {
    text-align: center;
}

/*for the round slider to center in parent div*/
.rs-control {
    margin: 35px auto 25px !important;
}


.mark-bar {
    float:left;
    width: 33.3%;
    text-align: center;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    color: white;
}
.mark-bar:before, .mark-bar:after{
    clear:both;
}
#demo-eval{
    text-align: center;
}

.mark-bar-region{
    margin-bottom: 3rem;
}

thead {
   background-color: rgba(207, 217, 218, 0.7);
}

h6 {
    font-weight: bold;
    float: right;

}